*{
    box-sizing: 0;
    margin: 0;
    padding: 0;
}



body{
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
.imgPrincipal{
    background-image: url(../img/CAPA\ grande.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 380px;
    
    img{
        width: 1350px;
    }
}

nav{
    background-color: #fbfbfb;
    text-align: center;

    li{
        display: inline-block;
        margin: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 25px;
    }

    li a{
        text-decoration: none;
        color: black;
        padding: 5px;
    }

    
    li a:hover{
        border-bottom:  4px solid red;
    }





    #diferente{
        display: none;
        background-color: #ffebed;
        
        li{
            font-size: 20px;
            display: block;
            padding: 10px;
            margin: 5px;
        }
    }

    button{
        display: none;
        background-color: #fbfbfb;
        border: none;
        margin: 10px;
    }

    button img{
        width: 50px;
    }
}


main{
    margin-top: 40px;
    display: flex;
    justify-items: center;
    

    .img{
        margin-right: 20px;
        a{
            text-decoration: none;
        }
        
        .agendamento{
            text-align: center;
            border-radius: 15px;
            color: white;
            background-color: #ffccd1;
            padding: 5px;
            width: 250px;
            margin-bottom:20px ;
            
        }

        .agendamento:hover{
            transform: scale(1.1);
            transition: transform 0.7s;
        }
          
            .menuSr {
                width: 300px;
            }
        
    }

    .conteudo{
        background-color: #fbfbfb;
        border: 4px solid #ffebed;
        border-radius: 15px;
        max-width: 650px;
        padding: 50px;
        text-align: center;
        box-shadow: 5px 5px 9px 5px rgba(212, 212, 212, 0.274);
        
        h1{
            font-size: 40px;
            letter-spacing: 3px;
            text-align: center;
            padding: 20px;
        }
        p{
            text-align: justify;
            margin: 20px;
            font-size: 20px;
        }



        #google{
            width: 450px;
            height: 300px;
            border-radius: 15px;
            box-shadow: 5px 5px 12px 2px rgba(116, 115, 115, 0.274);

        }

    }
}

footer{
    margin-top: 40px;
    padding: 10px;
    text-align: center;
    background-color: #fbfbfb;
    border-top: 3px solid #ffebed;
    box-shadow: 5px 5px 9px 5px rgba(212, 212, 212, 0.274);

    img{
        box-shadow: 5px 5px 9px 2px rgb(196, 196, 196);
        width: 60px;
        margin: 20px;
        border-radius: 100%;
    }

    img:hover{
        transform: scale(1.2);
        transition: transform 0.20s;

    }

}

#directo{
    h1{
        font-size: 13px;
        text-align: center;
        padding: 14px;
    }
}

