*{
    box-sizing: 0;
    margin: 0;
    padding: 0;
}



body{
    background-color: #fae5e8;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    top: 0;
    position: fixed;
    width: 100%;
    align-items: center;
    display: flex;
    background-color: #ffd1d7;
    border-bottom: 4px solid #810380;
    box-shadow: 1px 4px 5px #795e62;

    .logo{
        align-items: center;
        display: flex;
        flex: 50%;
        margin-left: 150px;

        img{
            width: 100px;
            margin: 5px;
        }

    }

    nav{
        flex: 50%;
        margin-left: 90px;
    }
    
    li{
        display: inline-block;
        padding: 15px;
        margin: 10px;
        background-color: #ffa700;
        border-radius: 10px;

    }

    .menu{
        background-color: #ffd1d7;
        border-radius: 50%;
        border: none;
        display: none;
        img{
            width: 50px;
        }
    }

    
    a{
         color: rgb(255, 255, 255);
        text-decoration: none;

    }

    li:hover{
        background-color: #810380;
        cursor: pointer;
    }
}

#out{
    top: 70px;
    right: 0;
    display: none;
    background-color: #810380;
    height: 250px;
    padding: 20px;
    position: absolute;
    li{
        font: 14px;
        font-weight: bolder;
        display: block;
        padding: 20px;
    }
}

main{

    display: flex;
    margin-top: 190px;
    margin-bottom: 90px;
    justify-content: center;

    .imgg{
            max-width: 300px;
            text-align: center;
            flex: 50%;
            margin: 20px;

        .fotomidia{
        
                width: 300px;
            }
            a{
                display: block;
                text-decoration: none;
                border-radius: 10px;
                padding: 20px 80px 20px 80px;
                background-color: #ffa700;
                color: white;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bolder;
                letter-spacing: 3px;   
            }

            a:hover{
                background-color: #810380;
            }
            
    }
}


.conteud{
    flex: 50%;
    max-width: 550px;
    background-color: white;
    padding: 60px;
    border-radius: 15px;
    box-shadow: 3px 3px 5px 5px #efe4e3;
    text-align: center;

    h1{
        color: white;
        letter-spacing: 3px;
        font-size: 50px;
        margin-bottom:20px;
        margin-top: 5px;
        padding: 10px;
        background-color: #810380;
        display: inline-block;
        border-radius: 10px;
    }

    .nossosServicos{
        font-size: 30px;
    }

    p{
        font-size: 20px;
        line-height: 30px;
        text-align: justify;
        margin-bottom: 18px;
    }

    .video{
        width: 550px;
    }
}

footer{
    box-shadow: 6px 5px 10px 5px #795e62;
    z-index: 0;
    background-color: #ffd1d7;
    text-align: center;

    a{
        margin: 30px;
            img{
                border-radius: 50%;
                width: 50px;
                box-shadow: 5px 5px 5px #e9bec4;
             }
    }
    
    .contactos{
            font-size: 50px;
        }

    .contact{
        letter-spacing: 2px;
        font-family: Arial, Helvetica, sans-serif;
        color: #ffa700;
        font-size: 50px;
        margin-bottom: 20px;
    }


}

 .agenda{
        z-index: 1;
        position: fixed;
        bottom: 0;
        right: 0;
        margin: 20px 20px 120px 20px;
        width: 300px;
        height: 75px;
        border: 3px solid green;
        justify-content: center;
        display: flex;
        align-items: center;
        background-color: #f5f5f5;
        border-radius: 15px;
        
        #whatsapp{
            width: 60px;
            box-shadow: 5px 5px 5px rgba(111, 156, 111, 0.644);
        }

        a{
            text-decoration: none;
            font-size: 30px;
            color: green;
            box-shadow: none;
        
        }
    
    }

