@media only screen and (max-width: 600px){
    
    
    body{
        text-align: center;
    }


    header{

        .logo{
            flex: 50%;
            margin-left: 10px;
        }
            .menu{
                flex: 50%;
                display: block;
            }

            nav{
                display: none;
            }


    }


    main{
        display: block;
        justify-items: center;

        .imgg{
            text-align: center;
        }

        .nossosServicos, video {
            display: none;
        }

    }

    .agenda{
        position: absolute;
    }
    
    .conteud{
        margin: 10px;
        margin-bottom: 120px;
 
    }
    

}

@media only screen and (max-width: 780px){

    header{

        .logo{
            flex: 50%;
            margin-left: 10px;
        }
            .menu{
                flex: 50%;
                display: block;
            }

            nav{
                display: none;
            }


    }


    main{
        display: block;
        justify-items: center;

        .imgg{
            text-align: center;
        }
    }


    .agenda{
        bottom: 120px;
        margin-left: 40px;    
    }
    
    .conteud{
        margin: 10px;
        margin-bottom: 120px;
 
    }
    

}


@media (min-width: 982px) and (min-width: 1080px ){

}


@media only screen and (min-width: 1456px){

}
