@media only screen and (max-width: 600px){
    
    
    body{
        text-align: center;
    }


    header{

        .logo{
            flex: 50%;
            margin-left: 10px;
        }
            .menu{
                flex: 50%;
                display: block;
            }

            nav{
                display: none;
            }


    }


    main{
        display: block;
        justify-items: center;

        .imgg{
            text-align: center;
        }

        .nossosServicos, video {
            display: none;
        }

    }

        #out{
        margin: 0;
        }

    footer{
            .agenda{
        
                position: static;
                justify-content: center;
                display: flex;
                align-items: center;
                background-color: #f5f5f5;
                border-radius: 0px;
                width: 100%;
                margin: 0;
                border: none;
    }
    }
    
    .conteud{
        margin: 10px;
        margin-bottom: 120px;
 
    }
    

}

@media only screen and (max-width: 780px){

    header{

        .logo{
            flex: 50%;
            margin-left: 10px;
        }
            .menu{
                flex: 50%;
                display: block;
            }

            nav{
                display: none;
            }


    }


    main{
        display: block;
        justify-items: center;

        .imgg{
            text-align: center;
        }
    }

    #out{
        margin: 10px;
    }


    .agenda{
        
        position: static;
        justify-content: center;
        display: flex;
        align-items: center;
        background-color: #f5f5f5;
        border-radius: 0px;
        width: 100%;
        margin: 0;
    }
    .conteud{
        margin: 10px;
        margin-bottom: 120px;
 
    }
    

}


@media (min-width: 982px) and (min-width: 1080px ){

}


@media only screen and (min-width: 1456px){

}
