@media only screen and (max-width: 600px){

    .imgPrincipal{
        height: 100px;

        img{
            width: 370px;
        }
    }

    nav{
        text-align: center;

        button{
            display: inline-block;
        }


    }

    .permanent{
        display: none;
    }

    main{
        text-align: center;
        display: block;

            .img{  
                margin-right: 0;
                margin-bottom: 20px;



            }

            .agendamento{
                margin: auto;
                width: 300px;
            }

            .agendamento:hover{
                    background-color: rgb(75, 192, 29);
            }
        

        .conteudo{
            padding: 10px;
            video{
                display: none;
            }

            .apre{
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 780px){

    .imgPrincipal{
        height: 200px;

        img{
            width: 514px;
        }
    }

    main{
        display: block;
        text-align: center;
    }


}


@media (max-width: 982px){

       main{
        display: block;
        text-align: center;
    }
}


@media only screen and (min-width: 1456px){
    main{
        display: flex;
    }

}
