


@media only screen and (max-width: 680px){

    .grande{
        display: none;
    }

    #subio1,#subio2,#subio3,#subio4{
        display:none;
        margin: 10px;
    }

        #desceu1,#desceu2,#desceu3,#desceu4{
        display: block;
        margin: 10px;
    }

    #pequenoAlmoço1,#pequenoAlmoço2,#pequenoAlmoço3,#pequenoAlmoço4{
    
    display: block;
    flex-flow: row wrap;
    justify-items: center;
}

.pequeno{
    display: block;

    button{
    font-size: 20px;
    width: 300px;
    margin-bottom: 30px;

    img{
        width: 40px;
    }
}

.conteudo{
    width: 270px;
}

footer{
    h1{
        font-size: 20px;
    }
}

}

.whatsaap{
            text-decoration: none;
            color: white;

            h3{
                display: none;
            }

        #pequenao{
        position: fixed;
        bottom: 0;
        right: 0;
        margin: 10px;
        background-color: green;
        padding: 10px;
        border-radius: 5px;
        width: 60px;


        img{
            width: 30px;
        }
    }

        }


}




