


@media only screen and (max-width: 961px){

    .grande{
        display: none;
    }

    #subio1,#subio2,#subio3,#subio4{
        display:none;
        margin: 10px;
    }

        #desceu1,#desceu2,#desceu3,#desceu4{
        display: block;
        margin: 10px;
    }

    #pequenoAlmoço1,#pequenoAlmoço2,#pequenoAlmoço3,#pequenoAlmoço4{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

main{
    justify-content: center;

    button{
    font-size: 20px;
    width: 300px;
    margin-bottom: 30px;

    img{
        width: 40px;
    }
}

footer{
    h1{
        font-size: 20px;
    }
}

}



}


